.wrapper{
    max-width: 1600px;
}
.container{
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 20px;
}
.container-fluid{
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 20px;
}
.button{
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    padding: 20px 50px;
    border-radius: 100rem;
    background-color: transparent;
    outline: none;
    border: 0;
    &--primary{
        color: #fff;
        background-color:$primary-color;
        font-weight: 700;
    }
    &--secondary{
        color: $primary-color;
        border: 1px solid currentColor;
    }
}
