.header{
    margin-bottom: 80px;
    padding-top: 56px;
    &-main{
        display:flex;
        justify-content: space-between;
        align-items: center;

    }
    &-iconmenu{
        display:none;
    }
    &-dots{
        top: 160px;
        left: 0;
        transform: translate(-30%, 0);
    }
    @media screen and (max-width: 1023px) {
    margin-bottom: 60px;
    padding-top: 30px;
    }
    @media screen and (max-width: 767px) {
        &-iconmenu{
            display: inline-block;
            color: $black;
        }
    }
    
    
}