html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input,
textarea,
select,
button {
  outline: none;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  overflow-x: hidden;
}

.wrapper {
  max-width: 1600px;
  margin: 0 auto;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.container-fluid {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 20px;
  overflow: hidden;
}

.button {
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  padding: 20px 50px;
  border-radius: 100rem;
  background-color: transparent;
  outline: none;
  border: 0;
}
.button--primary {
  color: #fff;
  background-color: #458FF6;
  font-weight: 700;
}
.button--secondary {
  color: #458FF6;
  border: 1px solid currentColor;
}

.global-heading {
  --heading-color: #000;
  color: var(--heading-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 156%;
  padding-bottom: 26px;
  margin-bottom: 30px;
  position: relative;
}
.global-heading::before {
  content: "";
  position: absolute;
  width: 56px;
  height: 2px;
  background-color: var(--heading-color);
  bottom: 0;
  left: 0;
}

.global-heading_center {
  text-align: center;
}
.global-heading_center::before {
  content: "";
  left: 50%;
  transform: translateX(-50%);
}

.global-text {
  font-size: 18px;
  line-height: 167%;
}

.center-inline {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.global-dots {
  position: absolute;
  z-index: -1;
}

@media screen and (max-width: 1023px) {
  .global-heading {
    font-size: 25px;
  }

  .button {
    font-size: 16px;
    padding: 15px 40px;
  }
}
@media screen and (max-width: 767px) {
  .global-dots {
    display: none;
  }
}
body {
  font-size: 16px;
  line-height: 1;
  font-family: "Mulish", sans-serif;
  color: #7D7987;
  font-weight: 300;
}

.header {
  margin-bottom: 80px;
  padding-top: 56px;
}
.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-iconmenu {
  display: none;
}
.header-dots {
  top: 160px;
  left: 0;
  transform: translate(-30%, 0);
}
@media screen and (max-width: 1023px) {
  .header {
    margin-bottom: 60px;
    padding-top: 30px;
  }
}
@media screen and (max-width: 767px) {
  .header-iconmenu {
    display: inline-block;
    color: #000;
  }
}

.menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 40px;
}
.menu-link {
  color: inherit;
  font-size: 18px;
  transition: all 0.2s linear;
  font-weight: 400;
}
.menu-link:hover {
  color: #000;
  font-weight: bold;
}
@media screen and (max-width: 767px) {
  .menu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width: 100%;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease;
    text-transform: uppercase;
    font-size: 20px;
    color: #fff;
    margin-top: 50px;
    gap: 15px;
  }
  .menu.is-active {
    opacity: 1;
    visibility: visible;
  }
  .menu-item {
    width: 100%;
    text-align: center;
  }
  .menu-link {
    width: 100%;
    display: block;
    padding: 15px 25px;
    align-items: center;
  }
  .menu-close {
    position: fixed;
    display: inline-block;
    color: #000;
    left: 0;
    padding: 10px;
    display: none;
  }
}
.menu-close {
  display: none;
}
.menu-close.is-active {
  display: inline-block;
  position: absolute;
  color: #fff;
  top: 0px;
  z-index: 2;
}
.menu-toggle {
  font-size: 30px;
  cursor: pointer;
}
.menu-bg {
  width: 50px;
  height: 50px;
  border-radius: 100rem;
  background-color: #458FF6;
  position: fixed;
  right: 45px;
  z-index: 0;
  transform: scale(0);
  transition: all 0.7s ease;
}
.menu-bg.is-active {
  transform: scale(100);
}

.hero {
  margin-bottom: 185px;
}
.hero-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 34px;
}
.hero-content {
  width: 100%;
  max-width: 445px;
}
.hero-heading {
  font-style: Bold;
  font-size: 48px;
  line-height: 56px;
  color: #000;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 48px;
}
.hero-desc {
  color: #7D7987;
  font-size: 21px;
  line-height: 32px;
  margin-bottom: 45px;
}
@media screen and (max-width: 1023px) {
  .hero {
    margin-bottom: 100px;
  }
  .hero-heading {
    font-size: 35px;
  }
  .hero-desc {
    font-size: 18px;
  }
}
@media screen and (max-width: 767px) {
  .hero-main {
    flex-direction: column;
  }
}

.service {
  margin-bottom: 222px;
  background: url(/img/bg1.png) no-repeat;
  background-position-y: 40%;
}
.service-header {
  text-align: center;
  max-width: 952px;
  margin: 0 auto 80px;
}
.service-list {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 34px;
  margin-bottom: 70px;
}
.service-dots {
  right: 0;
  top: 50%;
  transform: translate(25%, -50%);
  z-index: -1;
}
.service-item {
  background-color: #fff;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 50px;
  padding: 54px 37px 47px;
}
.service-img {
  margin-bottom: 40px;
  height: 95px;
}
.service-title {
  color: #000;
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: bold;
}
.service-desc {
  line-height: 175%;
}
.service-more {
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (max-width: 1023px) {
  .service {
    margin-bottom: 100px;
  }
  .service-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 767px) {
  .service-list {
    grid-template-columns: repeat(1, 1fr);
  }
}

.feature {
  margin-bottom: 266px;
  position: relative;
}
.feature-dots {
  right: 0;
  top: 50%;
  transform: translate(25%, -50%);
}
.feature-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.feature-item + .feature-item {
  margin-top: 230px;
}
.feature-item:nth-child(2) {
  flex-direction: row-reverse;
}
.feature-item:nth-child(2) .feature-img {
  transform: translateX(28px);
}
.feature-item:nth-child(2) .feature-content {
  margin-left: 90px;
}
.feature-item:nth-child(2) .feature-heading {
  max-width: 254px;
}
.feature-img {
  transform: translateX(-56px);
}
.feature-content {
  max-width: 420px;
  width: 100%;
}
.feature-desc {
  margin-bottom: 37px;
}
@media screen and (max-width: 1023px) {
  .feature {
    margin-bottom: 100px;
  }
  .feature-item {
    gap: 34px;
  }
  .feature-item + .feature-item {
    margin-top: 50px;
  }
  .feature-item:nth-child(2) .feature-content {
    margin-left: 0;
  }
  .feature-item:nth-child(2) {
    flex-direction: row;
  }
  .feature-item:nth-child(2) .feature-img {
    transform: translateX(0);
  }
  .feature-item:nth-child(2) .feature-heading {
    max-width: none;
  }
  .feature-img {
    transform: translateX(0);
  }
}
@media screen and (max-width: 767px) {
  .feature-item {
    flex-direction: column;
  }
  .feature-item:nth-child(2) {
    flex-direction: column;
    align-items: center;
  }
  .feature .feature-img {
    transform: translateX(6px);
  }
}

.review {
  margin-bottom: 280px;
  position: relative;
}
.review-dot1 {
  left: 53px;
  top: 0;
  transform: translate(0, -50%);
}
.review-heading {
  --heading-color: #fff;
  margin-bottom: 66px;
}
.review-main {
  background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
  border-radius: 24px;
  padding: 64px 118px 80px;
  position: relative;
  overflow: hidden;
}
.review-dot2 {
  right: 0;
  top: 0;
  transform: translate(20%, -20%);
}
.review-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0 30px;
  color: #fff;
  align-items: center;
}
.review-customer {
  display: flex;
  align-items: center;
  gap: 0 30px;
}
.review-avt {
  width: 141px;
  height: 141px;
  border-radius: 100%;
  flex-shrink: 0;
}
.review-avt img {
  border: 4px solid #fff;
  border-radius: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.review-name {
  font-size: 22px;
  margin-bottom: 15px;
}
.review-job {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
}
.review-desc {
  font-size: 19px;
  line-height: 158%;
  color: rgba(255, 255, 255, 0.9);
  font-weight: normal;
  opacity: 0.8;
  width: 100%;
}
@media screen and (max-width: 1023px) {
  .review {
    margin-bottom: 100px;
  }
  .review-main {
    padding: 40px 20px;
  }
}
@media screen and (max-width: 767px) {
  .review-heading {
    margin-bottom: 40px;
  }
  .review-content {
    grid-template-columns: 1fr;
    grid-gap: 34px 0;
  }
  .review-avt {
    width: 100px;
    height: 100px;
  }
  .review-customer {
    gap: 0 15px;
  }
  .review-name {
    font-size: 18px;
  }
  .review-desc, .review-job {
    font-size: 16px;
  }
}

.article {
  margin-bottom: 200px;
  background: url(../img/bg2.png) no-repeat right center/auto;
  position: relative;
}
.article-heading {
  margin-bottom: 80px;
}
.article-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0 34px;
  margin-bottom: 70px;
}
.article-dots {
  left: 10%;
  top: 15%;
}
.article-item {
  background: #FFFFFF;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 20px;
  overflow: hidden;
}
.article-img {
  height: 240px;
  display: block;
}
.article-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.article-content {
  padding: 24px 66px 33px 35px;
}
.article-title {
  font-size: 21px;
  line-height: 152%;
  margin-bottom: 12px;
  color: #000;
}
.article-desc {
  margin-bottom: 25px;
  line-height: 175%;
}
.article-details {
  font-weight: 600;
  display: flex;
  align-items: center;
  color: #458FF6;
  gap: 0 10px;
}
@media screen and (max-width: 1023px) {
  .article {
    margin-bottom: 100px;
  }
  .article-list {
    display: grid;
    justify-content: flex-start;
    grid-auto-columns: 300px;
    grid-auto-flow: column;
    grid-gap: 1.5rem;
    overflow: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-overflow-scrolling: touch;
    scroll-padding: 1rem;
    grid-template-columns: unset;
    padding: 0 20px 40px;
    margin-left: -20px;
    margin-bottom: 40px;
  }
  .article-list::-webkit-scrollbar {
    display: none;
    width: 0;
  }
  .article-list > * {
    scroll-snap-align: start;
  }
  .article-heading {
    margin-bottom: 40px;
  }
}

.footer {
  background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
  padding: 118px 0 113px;
}
.footer-main {
  color: #fff;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  grid-gap: 0 34px;
}
.footer-logo {
  display: inline-block;
  margin-bottom: 17px;
}
.footer-desc {
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 156%;
}
.footer-heading {
  font-size: 20px;
  margin-bottom: 30px;
}
.footer-links {
  list-style: none;
}
.footer-item {
  text-decoration: none;
  margin-bottom: 15px;
}
.footer-link {
  color: inherit;
  font-size: 18px;
}
.footer-link:hover {
  opacity: 0.6;
}
@media screen and (max-width: 767px) {
  .footer {
    padding: 40px 0;
  }
  .footer-main {
    grid-template-columns: 1fr;
    gap: 20px 34px;
  }
  .footer-heading {
    margin-bottom: 15px;
  }
}

/*# sourceMappingURL=style.css.map */
